header {
    background-image:  url('../../public/background.png') ;
    background-size: cover;
    background-position: center;
    height: 40vh; 
  }
  
  .w-max-1200px {
    max-width: 1200px;
    margin: 0 auto; 
  }
  h4{
    text-align: center;
  }

  .col-md-2{
    background-color: #c7d2fe;
    padding: 5px;
   
    
  }
  img{
    margin: 5px auto;
    border: 5px solid white;
  }
  .row{
    justify-content: space-around;
    
  }
  .container-home{
    background-color:#eef2ff;
  }
  h1, h4{
    color:#3730a3
  }
  
   